<h1>Welcome, <%= @user.username %></h1>
<%= link_to "Create Todo", "#", id: "create-todo-form" %>
<%= link_to "List Todos", "#", id: "list-todos" %>

<div id="todo-form"></div>
<div id="main">
  <h3>Todos</h3>
  <hr>
  <ul>

  </ul>
</div>